*{
  margin : 0;
}
.app{
  background-color: #fafafa;
}
.app__header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom : 1px solid lightgray;
}
.app__headerImage{
  object-fit: contain;
}
.app__signup{
  display : flex;
  text-align: center;
  flex-direction: column;
}